<div{{ attributes.addClass(classes) }}>

  <div class="block-content-wrapper">
    <div class="block-content-wrapper">
	    <div class="popup-text">You can find this Data and AI Gallery Demo on our Homepage also !!!</div>
      <div>
        <video id="popupVideo" controls autoplay muted>
          <source src="{{ video }}" type="video/mp4">
        </video>
      </div>
      <div>
        <p id="total_duration"></p>
        <p id="watched_duration"></p>
      </div>
	  <div><span class="unmutetext"><i class="fa fa-eye" aria-hidden="true"></i> Unmute to listen </span>
       <div class="block-content-link" style="margin: 0;padding: 0px;border: none;color: #fff;border-radius: 50px;font-size: 12px; background-color: #0070ad; float:right !important;">
        <a style="color:#FFF!important;" href="#" id="videowatchlater" >Remind Later</a>
      </div> 
    </div>
      
    </div>
  </div>

</div>
