div.filters_wrapper {
	width: 100%;
	clear: both;
	margin-top: 20px;
}

div.filter_is_submitted {
	width: 150px;
	float: left;
}

div.filter_date_range {
	width: 450px;
	float: left;
	margin-left: 10px;
}

div.filter_date_from {
	width: 220px;
	float: left;
}

div.filter_date_to {
	width: 220px;
	float: left;
	margin-left: 10px;
}

div.filter_actions_wrapper {
	padding-top: 30px;
    float: left;
    width: 370px;
}

div.clearfix {
	clear: both;
}